/* Light Mode (default) */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
.dark body {
    background-color: #1E1E1E;
    color: #EAEAEA;
}

/* Ensure hero section inherits dark mode */
.hero-section {
    background-color: white;
}

.dark .hero-section {
    background-color: #1E1E1E;
}